* {
  padding: 0;
  margin: 0;
  border: 0;
  font: normal 12px Arial, Helvetica, sans-serif;
}

html {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #2E3440;
}

body {
    color: #FFFFFF;
}

table ,td, tr{
  border-collapse:collapse;
  border: 1px solid;
  vertical-align: center;
  text-align: right;
  padding : 3;
}
div {
  width: 300;
  height: 165;
  overflow-y: auto;
}

img {
  width: 12px;
  height: 12px;
}


.enraged {
  content:url("./icons/enraged.png")
}

.class0 {
  content:url("./class-icons/warrior.png")
}
.class1 {
  content:url("./class-icons/lancer.png")
}
.class2 {
  content:url("./class-icons/slayer.png")
}
.class3 {
  content:url("./class-icons/berserker.png")
}
.class4 {
  content:url("./class-icons/sorcerer.png")
}
.class5 {
  content:url("./class-icons/archer.png")
}
.class6 {
  content:url("./class-icons/priest.png")
}
.class7 {
  content:url("./class-icons/mystic.png")
}
.class8 {
  content:url("./class-icons/reaper.png")
}
.class9 {
  content:url("./class-icons/gunner.png")
}
.class10 {
  content:url("./class-icons/brawler.png")
}
.class11 {
  content:url("./class-icons/ninja.png")
}
.class12 {
  content:url("./class-icons/valkyrie.png")
}
