* {
  padding: 0;
  margin: 0;
  border: 0;
  font: normal 14px Arial, Helvetica, sans-serif;
}

html {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #2E3440;
}

body {
    color: #FFFFFF;
}

table ,td, tr{
  border-collapse:collapse;
  border: 1px solid;
  vertical-align: center;
  text-align: right;
  padding : 3;
}
